<div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxAlign="center">
        <p>PO Region</p>
        <!-- <button mat-mini-fab color="default" style="margin-bottom: 1rem" (click)="clised()">
            <mat-icon>close</mat-icon>
        </button> -->
        <div style="margin-bottom: 1rem; cursor: pointer; color: #949799" (click)="close()">
            <mat-icon>cancel</mat-icon>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-card (click)="gotogeneralpo()">
            General PO's
        </mat-card>
        <mat-card style="margin-left: 0.5rem;" (click)="gotospecificpo()">
            Specific PO's
        </mat-card>
    </div>
</div>