p{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: red;
}

.mat-card{
    font-weight: 500;
    cursor: pointer;
}

.mat-card:hover{
    background: #bed4e4;
}   

a{
    text-decoration: none;
}