.maindiv {
  padding: 5rem 3rem;
}

table {
  width: 100%;
}
.datatable {
  max-height: 30rem;
  overflow: auto;
}

th.mat-header-cell {
  width: 2rem;
}

tr.mat-header-row {
  height: 43px;
  background: #356f99;
}
.report {
  font-size: 16px;
  color: red;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  text-align: center;
  border: 0.5px solid #b2b6ba !important;
}

.mat-row:nth-child(even) {
  background-color: #d4e4f0;
}

th.mat-header-cell {
  color: white;
}

.mat-row:hover .mat-cell {
  background: #f1e2d8;
}

td.mat-cell {
  font-size: 12px;
  font-weight: 500;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 0px;
}

tr.mat-row,
tr.mat-footer-row {
  height: 40px !important;
}

.total-quanitty {
  font-weight: 700;
  font-size: large;
}
