<app-header></app-header>
<div class="maindiv">
  <div class="report">Generated Report</div>
  <div class="total-quanitty">Total Quantity : {{ totalQuantity }}</div>
  <div class="datatable" *ngIf="datasource">
    <table mat-table [dataSource]="datasource">
      <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef>
          {{
            col == "Supplier_Group"
              ? "Supplier Group"
              : col == "Newburg_Egg_PO"
              ? "Newburg Egg PO"
              : col == "Type_Supplies"
              ? "Type Supplies"
              : col == "Pick_Up_Date"
              ? "Pick Up Date"
              : col == "Farm_Order"
              ? "Farm Order"
              : col == "Received_Date"
              ? "Received Date"
              : col == "Final_PO"
              ? "Final PO"
              : col
          }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            col == "Pick_Up_Date"
              ? (element[col] | date: "dd/MM/yyyy")
              : col == "Received_Date"
              ? (element[col] | date: "dd/MM/yyyy")
              : element[col]
          }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div style="border: 1px solid lightgray">
    <mat-paginator
      [pageSizeOptions]="[10, 20, 50, 100, 500]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>

<!-- <button mat-icon-button class="deleteIcon" *ngIf="col === 'Action'">
                <mat-icon>delete</mat-icon>
              </button> -->
<!-- {{ element[col]}} -->
