<app-header></app-header>
<div *ngIf="adminUser" class="maindiv">
  <div class="add-button">
    <button mat-raised-button color="default" (click)="newSupplier()">
      Add Supplier
    </button>
  </div>
  <br />
  <table mat-table [dataSource]="dataSource" matSort class="supplier-list">
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="editSupplier(element)" style="color: rgb(53 111 153)"
          >edit</mat-icon
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          (click)="deleteSupplier(element.supplier_id)"
          style="color: #c31c1c"
          >delete</mat-icon
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="supplier_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.supplier_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="po_count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Count</th>
      <td mat-cell *matCellDef="let element">
        {{ element.po_count }}
      </td>
    </ng-container>
    <ng-container matColumnDef="po_trigger">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Trigger</th>
      <td mat-cell *matCellDef="let element">
        {{ element.po_trigger }}
      </td>
    </ng-container>
    <ng-container matColumnDef="po_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Type</th>
      <td mat-cell *matCellDef="let element">
        {{ replaceUnderscore(element.po_type) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="farm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Farm</th>
      <td mat-cell *matCellDef="let element">
        {{ element.farm }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- <tr>
      <th>Supplier Name</th>
      <th>PO Count</th>
      <th>PO Trigger</th>
    </tr>
    <tr class="supplier-item" *ngFor="let supplier of suppliers">
      <td class="supplier-item-column">
        {{ supplier.supplier_name }}
      </td>
      <td class="supplier-item-column">
        {{ supplier.po_count }}
      </td>
      <td class="supplier-item-column">
        {{ supplier.po_trigger }}
      </td>
      <td>
        <div>
          <button
            class="mat-raised-button"
            (click)="deleteSupplier(supplier.supplier_name)"
          >
            Delete Supplier
          </button>
        </div>
      </td>
      <td>
        <div>
          <button class="mat-raised-button" (click)="editSupplier(supplier)">
            Edit Supplier
          </button>
        </div>
      </td>
    </tr> -->
  </table>
</div>
<div *ngIf="!adminUser">Only Admins Can View This</div>
