.example-spacer {
    flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
    background: #356f99;
    color: #fff;
    /* overflow: hidden; */
    z-index: -1;
}
.username{
    font-size:14px;
}
.mainhead{
  position: fixed;
  width:100%;
  z-index: 9;
}