<div class="mainhead">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span [routerLink]="['/home']">Newburg Egg</span>
    <span class="example-spacer"></span>
    <div class="username">Hello, {{ loginuser }}</div>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      Logout<mat-icon>logout</mat-icon>
    </button>
    <button mat-menu-item (click)="edit()">
      Edit Profile<mat-icon>profile</mat-icon>
    </button>
    <button *ngIf="adminUser" mat-menu-item (click)="manageUser()">
      Manage User<mat-icon>manage user</mat-icon>
    </button>
    <button *ngIf="adminUser" mat-menu-item (click)="manageSuppliers()">
      Manage Suppliers<mat-icon>goto</mat-icon>
    </button>
    <button *ngIf="adminUser" mat-menu-item (click)="manageFarms()">
      Manage Farms<mat-icon>goto</mat-icon>
    </button>
    <button *ngIf="adminUser" mat-menu-item (click)="managePoType()">
      Manage Po Type<mat-icon>goto</mat-icon>
    </button>
  </mat-menu>
</div>
