<app-header></app-header>
<div class="main">
    <div>
        <button mat-raised-button color="default" (click)="openGeneralPODialog()">
            Create<mat-icon>add</mat-icon>
        </button>
        <mat-form-field class="example-form-field" appearance="legacy"
            style="height: 3rem;width:15rem;margin-left: 1rem;">
            <mat-label>Search Here</mat-label>
            <input matInput type="text" [(ngModel)]="value" (keyup)="applyFilter($event)" autocomplete="off">
        </mat-form-field>
    </div>
    <div>
        <mat-card>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="po">
                    <th mat-header-cell *matHeaderCellDef> PO #</th>
                    <td mat-cell *matCellDef="let element"> {{element.po}} </td>
                </ng-container>

                <ng-container matColumnDef="farm">
                    <th mat-header-cell *matHeaderCellDef> Farm </th>
                    <td mat-cell *matCellDef="let element"> {{element.farm}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon id="edit" (click)="editData(element)">edit</mat-icon>
                        <mat-icon id="delete" (click)="deleteData(element.g_id)">delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
    </div>
</div>