.main{
    padding:5rem 15rem;
}
table {
    width: 100%;
}

.mat-card{
    overflow: auto;
    max-height: 67vh;
}

.datatable{
    overflow: auto;
    box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
}

th.mat-header-cell {
    width: 2rem;
}

tr.mat-header-row {
    height: 43px;
    background: #356f99;
}
.report{
    font-size: 16px;
    color: red;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    text-align: center;
    border: 0.5px solid #b2b6ba  !important;
}

.mat-row:nth-child(even){
    background-color:#d4e4f0;
}

th.mat-header-cell {
    color: white;
}

.mat-row:hover .mat-cell {
    background: #f1e2d8;
}

td.mat-cell{
    font-size: 12px;
    font-weight: 500;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px;
}

#edit{
    font-size: 20px;
    color: #356f99;
    cursor: pointer;
}

#delete{
    font-size: 20px;
    color: #b12828;
    cursor: pointer;
}

tr.mat-row, tr.mat-footer-row {
    height: 40px !important;
}