.main{
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; */

    position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        /* color: red; */
}