<div fxLayout="row" fxLayoutAlign="space-between center">
  <p>Data validation setting</p>
  <mat-icon (click)="closeMainDialog()" style="cursor: pointer; color: #8d8f8f"
    >cancel</mat-icon
  >
</div>
<div>
  <form [formGroup]="formData">
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <mat-card>
        <div>
          <mat-selection-list
            #val
            [multiple]="false"
            (click)="selectData(val._value)"
            formControlName="setting_col"
          >
            <mat-list-option *ngFor="let val of suppliersArray" [value]="val">
              {{ val }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </mat-card>
      <mat-card style="margin-left: 0.5rem">
        <div>
          <mat-selection-list
            #val
            [multiple]="false"
            formControlName="setting_val"
          >
            <mat-list-option *ngFor="let val of allrelativeData" [value]="val">
              {{ val.setting_value }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </mat-card>
    </div>
    <mat-dialog-actions>
      <button mat-stroked-button color="primary" (click)="onAddClick()">
        Add New Value
      </button>
      <button mat-stroked-button color="accent" (click)="editData()">
        Update Selected Value
      </button>
      <button
        *ngIf="adminUser"
        mat-stroked-button
        color="warn"
        (click)="deleteValue()"
      >
        Delete Selected Value
      </button>
    </mat-dialog-actions>
  </form>
</div>
