<app-header></app-header>
<div class="maindiv">
  <div id="content" [routerLink]="['/transaction']">
    <p>Master Entry</p>
  </div>
  <div id="content" (click)="openSettingDataValidation()">
    <p>Data Validation Setting</p>
  </div>
  <div id="content" (click)="openReportInsertDialog()">
    <p>Reports</p>
  </div>
  <!-- <div id="content" (click)="openPODialog()">
        <p>PO's</p>
    </div> -->
  <div>
    <img
      src="assets/images/egg.png"
      alt=""
      style="width: 26rem; height: 33rem; padding: 50px"
    />
  </div>
</div>
