.maindiv{
    height:100vh;
    display:flex;
    align-items:center;
    /* margin-left: 7rem; */
}

 #content{
    border:1px solid lightgray;
    height: 11rem;
    border-radius: 7rem;
    width: 11rem;
    text-align: center;
    margin: 2rem;
    background: #c0d8e9;
    cursor: pointer;
}

a{ 
    text-decoration: none;
}

p{
    align-items: center;
    text-align: center;
    margin-top: 4.3rem;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 500;
}

div #content:hover {
    background-color:rgb(111, 168, 206);
    color: white;
}