<div>
  <div fxLayout fxLayoutAlign="space-between center">
    <h3>Please fill details of PO form. Fields with asterisk are required.</h3>
    <!-- <button mat-mini-fab color="default" (click)="closeDialog()" style="margin-top: -3rem; float:right;">
            <mat-icon>clear</mat-icon>
        </button> -->
    <mat-icon style="cursor: pointer; color: #767e7b" (click)="closeDialog()"
      >cancel</mat-icon
    >
  </div>
  <div fxLayout="column" fxLayoutAlign="center start">
    <form [formGroup]="formdata">
      <div fxLayout="row" *ngIf="!data" fxLayoutAlign="space-between center">
        <mat-form-field appearance="fill">
          <mat-label>PO Count</mat-label>
          <input
            matInput
            placeholder="PO Count"
            autocomplete="off"
            formControlName="PO_Count"
          />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <span class="header required">Supply Group</span>
          <div class="divheight">
            <mat-selection-list
              [multiple]="false"
              formControlName="Supplier_Group"
            >
              <ng-container *ngFor="let val of suppliersArray">
                <mat-list-option
                  [value]="val.setting_value"
                  (click)="selectItems(val)"
                >
                  {{ val.setting_value }}
                </mat-list-option>
              </ng-container>
            </mat-selection-list>
          </div>
        </div>
        <div>
          <span class="header required">Farm</span>
          <div class="divheight">
            <mat-selection-list [multiple]="false" formControlName="Farm">
              <mat-list-option
                *ngFor="let val of formArray"
                [value]="val.setting_value"
              >
                {{ val.setting_value }}
              </mat-list-option>
            </mat-selection-list>
          </div>
        </div>
        <div>
          <span class="header">.</span>
          <div class="divheight2">
            <mat-form-field appearance="legacy">
              <mat-label>Newburg Egg PO</mat-label>
              <input
                matInput
                placeholder="Newburg Egg"
                autocomplete="off"
                formControlName="Newburg_Egg_PO"
              />
            </mat-form-field>

            <mat-form-field appearance="legacy">
              <mat-label>Final PO</mat-label>
              <input
                matInput
                placeholder="Final PO"
                autocomplete="off"
                formControlName="Final_PO"
              />
            </mat-form-field>

            <span class="header">Supply Type</span>
            <div style="height: 5rem; overflow: auto">
              <mat-selection-list
                [multiple]="false"
                formControlName="Type_Supplies"
              >
                <mat-list-option
                  *ngFor="let val of typeSupplier"
                  [value]="val.setting_value"
                >
                  {{ val.setting_value }}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-around center"
        style="margin-top: 0.5rem"
      >
        <div>
          <mat-form-field
            appearance="fill"
            style="width: 10rem; margin-right: 1rem"
          >
            <mat-label>Pick Up date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="Pick_Up_Date"
              (dateChange)="pickDateChanged()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field
            appearance="fill"
            style="width: 11rem; margin-right: 1rem"
          >
            <mat-label>Form Order</mat-label>
            <input
              matInput
              placeholder="form order"
              autocomplete="off"
              formControlName="Farm_Order"
            />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field
            appearance="fill"
            style="width: 11rem; margin-right: 1rem"
          >
            <mat-label>Carrier</mat-label>
            <mat-select formControlName="Carrier">
              <mat-option
                *ngFor="let val of carrerArray"
                [value]="val.setting_value"
              >
                {{ val.setting_value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field
            appearance="fill"
            style="width: 11rem; margin-right: 1rem"
          >
            <mat-label>Received date</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              formControlName="Received_Date"
              (dateChange)="receivedDateChanged()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <mat-form-field
            appearance="fill"
            style="width: 7rem; margin-right: 1rem"
          >
            <mat-label>Qty 1</mat-label>
            <mat-select formControlName="Qty 1">
              <mat-option
                *ngFor="let val of quantityArray"
                [value]="val.setting_value"
              >
                {{ val.setting_value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field
            appearance="fill"
            style="width: 7rem; margin-right: 1rem"
          >
            <mat-label>Item 1</mat-label>
            <mat-select formControlName="Item 1">
              <mat-option
                *ngFor="let val of itmsArray"
                [value]="val.setting_value"
              >
                {{ val.setting_value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field
            appearance="fill"
            style="width: 7rem; margin-right: 1rem"
          >
            <mat-label>Qty 2</mat-label>
            <mat-select formControlName="Qty 2">
              <mat-option
                *ngFor="let val of quantityArray"
                [value]="val.setting_value"
              >
                {{ val.setting_value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field
            appearance="fill"
            style="width: 7rem; margin-right: 1rem"
          >
            <mat-label>Item 2</mat-label>
            <mat-select formControlName="Item 2">
              <mat-option
                *ngFor="let val of itmsArray"
                [value]="val.setting_value"
              >
                {{ val.setting_value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field
            appearance="fill"
            style="width: 7rem; margin-right: 1rem"
          >
            <mat-label>Qty 3</mat-label>
            <mat-select formControlName="Qty 3">
              <mat-option
                *ngFor="let val of quantityArray"
                [value]="val.setting_value"
              >
                {{ val.setting_value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field
            appearance="fill"
            style="width: 7rem; margin-right: 1rem"
          >
            <mat-label>Item 3</mat-label>
            <mat-select formControlName="Item 3">
              <mat-option
                *ngFor="let val of itmsArray"
                [value]="val.setting_value"
              >
                {{ val.setting_value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <span class="header">Notes</span>
          <div
            style="border: 1px solid lightgray; height: 8rem; overflow: auto"
          >
            <mat-selection-list #shoes formControlName="Notes">
              <mat-list-option
                *ngFor="let val of notesData"
                [value]="val.setting_value"
              >
                {{ val.setting_value }}
              </mat-list-option>
            </mat-selection-list>
          </div>
        </div>

        <div style="width: 18rem; margin-left: 1rem">
          <span class="header">Free Form Notes</span>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Free Form Notes</mat-label>
              <input
                matInput
                placeholder="Free Form Notes"
                autocomplete="off"
                formControlName="Free_Form_Notes"
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Count of totes</mat-label>
              <input
                matInput
                placeholder="count of totes"
                autocomplete="off"
                formControlName="Count_Of_Totes"
              />
            </mat-form-field>
          </div>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Count of damage Pallet</mat-label>
            <input
              matInput
              placeholder="count of damage pallet"
              autocomplete="off"
              formControlName="Count_Of_Damaged_Pallets"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        style="margin-top: 1rem"
      >
        <div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="Received_Complete"
          >
            <mat-radio-button value="Y" style="margin-right: 1rem"
              >Received Completed</mat-radio-button
            >
            <mat-radio-button value="No"
              >Received Not Completed</mat-radio-button
            >
          </mat-radio-group>
        </div>

        <div style="margin-left: 3rem">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="Shipment_Schedule"
          >
            <mat-radio-button value="Day" style="margin-right: 1rem"
              >Day Shipment</mat-radio-button
            >
            <mat-radio-button value="Night">Night Shipment</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div
        style="margin-top: 1rem"
        fxLayout
        fxLayoutAlign="space-between center"
      >
        <button
          mat-stroked-button
          color="warn"
          (click)="openWeightCalculator()"
        >
          Weight Calculator
        </button>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
