<div>
    <h3>General PO Form</h3>
    <form [formGroup]="formData">
        <div fxLayout="row">
            <mat-form-field appearance="outline">
                <mat-label>PO</mat-label>
                <input matInput placeholder="Enter po" autocomplete="off" formControlName="po">
                <mat-icon matSuffix>tag</mat-icon>
            </mat-form-field>
    
            <!-- <mat-form-field appearance="outline" fxFlexOffset="1">
                <mat-label>Farm</mat-label>
                <input matInput placeholder="Enter farm" autocomplete="off" formControlName="farm">
                <mat-icon matSuffix>article</mat-icon>
            </mat-form-field> -->
            <mat-form-field appearance="outline" style="margin-left: 0.5rem;">
                <mat-label>Farm</mat-label>
                <mat-select formControlName="farm" required>
                  <mat-option *ngFor="let farm of allValues" [value]="farm">
                    {{farm}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="default" (click)="onSubmit()" [disabled]="this.formData.invalid">Submit</button>
        </div>
    </form>
</div>