<app-header></app-header>
<div *ngIf="adminUser" class="maindiv">
  <div class="add-button">
    <button mat-raised-button color="default" (click)="newFarm()">
      Add Farm
    </button>
  </div>
  <br />
  <table mat-table [dataSource]="dataSource" matSort class="farm-list">
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="editFarm(element)" style="color: rgb(53 111 153)"
          >edit</mat-icon
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="deleteFarm(element.farm_id)" style="color: #c31c1c"
          >delete</mat-icon
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="Farm_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Farm Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Farm_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="po_count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Count</th>
      <td mat-cell *matCellDef="let element">
        {{ element.po_count }}
      </td>
    </ng-container>
    <ng-container matColumnDef="po_trigger">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Trigger</th>
      <td mat-cell *matCellDef="let element">
        {{ element.po_trigger }}
      </td>
    </ng-container>
    <ng-container matColumnDef="PO_Type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Type</th>
      <td mat-cell *matCellDef="let element">
        {{ replaceUnderscore(element.PO_Type) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="supplier_group">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier Group</th>
      <td mat-cell *matCellDef="let element">
        {{ element.supplier_group }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div style="border: 1px solid lightgray">
    <mat-paginator
      [pageSizeOptions]="[10, 20, 50, 100, 500]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>

<div *ngIf="!adminUser">Only Admins Can View This</div>
