<div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div class="head">
            Weight Calculator
        </div>
        <div class="trans">
            <button mat-stroked-button color="primary" (click)="closed()">Transaction</button>
        </div>
        <div style="margin-bottom: 5rem; margin-left: 5rem; cursor: pointer; color: #949799" (click)="closed()">
            <mat-icon>cancel</mat-icon>
        </div>
    </div>
    <div class="tableDiv" fxLayout="row">
        <table>
            <tbody>
                <tr>
                    <td>Total Weight</td>
                    <td>
                        <mat-form-field appearance="fill" style="height: 3rem; width: 5rem;">
                            <input type="number" matInput autocomplete="off" [(ngModel)]="weight">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Total Pallets</td>
                    <td>
                        <mat-form-field appearance="fill" style="height: 3rem; width: 5rem;">
                            <input type="number" matInput autocomplete="off" [(ngModel)]="pallets">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Average</td>
                    <td >{{weight/pallets | number : '1.0-2'}}</td>
                </tr>
                <tr>
                    <td>Use</td>
                    <td *ngIf="weight && pallets">{{getUnit(weight/pallets)}}</td>
                </tr>
            </tbody>
        </table>
        <table class="secondTable">
            <tbody>
                <tr>1000 - 36 - 38</tr>
                <tr>1100 - 38 - 40</tr>
                <tr>1200 - 40 - 42</tr>
                <tr>1300 - 42 - 44</tr>
                <tr>1400 - 44 - 46</tr>
                <tr>1500 - 46 - 48</tr>
                <tr>1600 - 48 - 50</tr>
                <tr>1700 - 50 - 52</tr>
            </tbody>
        </table>
    </div>
</div>