.head{
    min-height: 2rem;
    min-width: 8rem;
    border: 1px solid lightgrey;
    padding: 2rem;
    font-size: 18px;
    font-weight: 500;
}

.trans{
    display: flex;
    min-width: 2rem;
    height: 3rem;
    padding: 1rem;
}

table{
    width: 100%;
}

table, td, tr {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    text-align: center;
}

.tableDiv {
    margin-top: 0.5rem;
}

.secondTable tbody > tr {
    border: none;
}

.mat-form-field-wrapper {
    padding-bottom: 1em !important;
}