<div class="login-form-flex">
  <mat-card>
    <div style="text-align: center">
      <mat-icon id="icons">account_circle</mat-icon>
    </div>
    <mat-card-title style="margin-top: 30px">Change Name</mat-card-title>
    <form [formGroup]="editFormData">
      <mat-card-content fxLayout="column" fxLayoutAlign="space-around">
        <div>
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="New Name"
              autocomplete="off"
              formControlName="username"
              required
            />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>
      </mat-card-content>
      <div class="button-flex-container">
        <button mat-raised-button color="default" (click)="onEdit()">
          Change
        </button>
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="center" style="font-size: 12px;font-weight: 500;margin-top: 0.5rem;">
                <p routerLink="/register">Register Here</p>
                <mat-icon>arrow_forward</mat-icon>
            </div> -->
    </form>
    <mat-card-title style="margin-top: 30px">Change Email</mat-card-title>
    <form [formGroup]="editEmailData">
      <mat-card-content fxLayout="column" fxLayoutAlign="space-around">
        <div>
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="New Email"
              autocomplete="off"
              formControlName="email"
              required
            />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>
        <div class="button-flex-container">
          <button mat-raised-button color="default" (click)="onEmailEdit()">
            Change
          </button>
        </div>
      </mat-card-content>
      <!-- <div fxLayout="row" fxLayoutAlign="center" style="font-size: 12px;font-weight: 500;margin-top: 0.5rem;">
                <p routerLink="/register">Register Here</p>
                <mat-icon>arrow_forward</mat-icon>
            </div> -->
    </form>
    <mat-card-title style="margin-top: 60px">Change Password</mat-card-title>
    <form [formGroup]="passFormData">
      <mat-card-content fxLayoutAlign="space-around">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Old Password</mat-label>
            <input
              matInput
              type="password"
              autocomplete="off"
              formControlName="oldpass"
              required
            />
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input
              matInput
              type="password"
              autocomplete="off"
              formControlName="newpass"
              required
            />
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
        </div>
      </mat-card-content>
      <div class="button-flex-container">
        <button mat-raised-button color="default" (click)="onPassChange()">
          Change
        </button>
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="center" style="font-size: 12px;font-weight: 500;margin-top: 0.5rem;">
                <p routerLink="/register">Register Here</p>
                <mat-icon>arrow_forward</mat-icon>
            </div> -->
    </form>
  </mat-card>
</div>
