.maindiv{
    padding: 5rem 1rem;
}

button{
    margin: 0.5rem 0.5rem;
    color: #356f99;
    width: 6.5rem;
}

.mat-card{
    max-height: 59vh;
    overflow: auto;
}

table {
    width: 100%;
  }
th.mat-header-cell {
    width: 2rem;
}

tr.mat-header-row {
    height: 43px;
    background: #356f99;
}
.report{
    font-size: 16px;
    color: red;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    text-align: center;
    border: 0.5px solid #b2b6ba  !important;
}

.mat-row:nth-child(even){
    background-color:#d4e4f0;
}

th.mat-header-cell {
    color: white;
}

.mat-row:hover .mat-cell {
    background: #f1e2d8;
}

td.mat-cell{
    font-size: 12px;
    font-weight: 500;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px;
}

h3{
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    margin: 0 0 0px !important;
}

#edit{
    font-size: 20px;
    color: #356f99;
    cursor: pointer;
}

#delete{
    font-size: 20px;
    color: rgb(160, 44, 44);
    cursor: pointer;
}

tr.mat-row, tr.mat-footer-row {
    height: 40px !important;
}