<app-header></app-header>
<div class="maindiv" >
    <div fxLayout="row" fxFlexAlign="center" style="margin-bottom: 1.5rem;">
        <div>
            <button mat-raised-button (click)="openDialog()" style="color: red;">Create<mat-icon>add</mat-icon></button>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column">
            <div>
                <button mat-raised-button (click)="getFilterData('avrumy')">Avrumy</button>
                <button mat-raised-button (click)="getFilterData('pedro')">Pedro</button>
                <button mat-raised-button (click)="getFilterData('weaver')">Weaver</button>
                <button mat-raised-button (click)="getFilterData('gettysburg')">Gettysburg</button>
                <button mat-raised-button (click)="getFilterData('eci')">ECI</button>
                <button mat-raised-button (click)="getFilterData('sj')">S&J</button>
            </div>
            <div>
                <button mat-raised-button (click)="getFilterData('rc')">R/C</button>
                <button mat-raised-button (click)="getFilterData('house1')">House 1</button>
                <button mat-raised-button (click)="getFilterData('house2')">House 2</button>
                <button mat-raised-button (click)="getFilterData('wenning')">Wenning</button>
                <button mat-raised-button (click)="getFilterData('esbenshade')">Esbenshade</button>
            </div>
        </div>
    </div>

    <div style="max-width: 600px;margin: auto;">
        <mat-card>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="inputValue">
                  <th mat-header-cell *matHeaderCellDef>{{Header | uppercase }}</th>
                  <td mat-cell *matCellDef="let element"> {{element.inputValue}} </td>
                </ng-container>
              
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> ACTION </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon id="edit" (click)="editData(element)">edit</mat-icon>
                        <mat-icon id="delete" (click)="deleteData(element.spo_id)">delete</mat-icon>    
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </mat-card>
    </div>
</div>