.div{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #113d5d, #d8e5ee);
}

.mat-form-field{
    width: 100%;
}

h3{
    text-align: center;
    font-weight: 500;
    color: #386080;
    font-size: 18px;
}

button{
    color: red;
}

.mat-icon{
    color: #356f99;
}

 p {
    margin: -25px 0 5px !important;
    font-size: 11px;
    color: red;
}