<div *ngIf="adminUser" class="div">
  <mat-card>
    <h3>Register Here</h3>
    <form [formGroup]="regFormData">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              autocomplete="off"
              formControlName="username"
              required
            />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <div
            *ngIf="
              f.username.errors && f.username.invalid && f.username.touched
            "
          >
            <p *ngIf="f.username.errors.required">please enter name</p>
            <p *ngIf="f.username.errors.minlength">username minimum length 3</p>
          </div>
        </div>

        <div fxFlexOffset="1">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Email"
              autocomplete="off"
              formControlName="email"
              required
            />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <div *ngIf="f.email.errors && f.email.invalid && f.email.touched">
            <p *ngIf="f.email.errors.required">please enter emailid</p>
            <p *ngIf="f.email.errors.email">email is not correct</p>
          </div>
        </div>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            autocomplete="off"
            formControlName="password"
            required
          />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <div
          *ngIf="f.password.errors && f.password.invalid && f.password.touched"
        >
          <p *ngIf="f.password.errors.required">please enter password</p>
        </div>
      </div>
      <div>
        <button
          mat-raised-button
          color="default"
          (click)="RegisterUser()"
          [disabled]="regFormData.invalid"
        >
          Register
        </button>
      </div>
    </form>
  </mat-card>
</div>
<div *ngIf="!adminUser">Only Admins Can View This Page</div>
