.login-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #113d5d, #d8e5ee);
}

.button-flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.mat-card {
  width: 18rem;
}
#icons {
  height: 4rem;
  font-size: 5rem;
  width: 5rem;
  color: #356f99;
}

.mat-card-title {
  margin: 1rem;
  text-align: center;
  font-size: 17px;
}
.mat-icon {
  color: #356f99;
}

button {
  color: red;
}

p {
  cursor: pointer;
}
p:hover {
  color: red;
}

.mat-form-field {
  width: 100%;
}

.error {
  margin: -25px 0 5px !important;
  font-size: 11px;
  color: red;
}

.footer {
  position: fixed;
  bottom: 0%;
}
