<div class="login-form-flex">
  <mat-card>
    <div style="text-align: center">
      <mat-icon id="icons">account_circle</mat-icon>
    </div>
    <mat-card-title>Login Here</mat-card-title>
    <form [formGroup]="loginFormData">
      <mat-card-content fxLayout="column" fxLayoutAlign="space-around">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>User email</mat-label>
            <input
              matInput
              placeholder="Email"
              autocomplete="off"
              formControlName="email"
              required
            />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <div class="error" *ngIf="f.email.touched && f.email.errors">
            Please enter valid user email
          </div>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Password"
              autocomplete="off"
              formControlName="password"
              required
            />
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <div class="error" *ngIf="f.password.touched && f.password.errors">
            Please enter valid password
          </div>
        </div>
      </mat-card-content>
      <div class="button-flex-container">
        <button
          mat-raised-button
          color="default"
          (click)="onLogin()"
          [disabled]="this.loginFormData.invalid"
        >
          Login
        </button>
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="center" style="font-size: 12px;font-weight: 500;margin-top: 0.5rem;">
                <p routerLink="/register">Register Here</p>
                <mat-icon>arrow_forward</mat-icon>
            </div> -->
    </form>
  </mat-card>
  <div class="footer">
    COPYRIGHT © 2022 - ALL RIGHTS RESERVED. - POWERED BY
    <a style="text-decoration: none" href="https://omnitechny.com/">OMNITECH</a>
  </div>
</div>
