<div>
    <form [formGroup]="formData">
        <div fxLayout="row" fxLayoutAlign='space-between center'>
            <div style="width: 17rem;">
                <div class="heading">choose column you want to display</div>
                <mat-card style="height:11.5rem; overflow:auto;">
                    <mat-card-content>
                        <mat-checkbox (change)="selectAll($event.checked)">Select All columns</mat-checkbox>
                        <mat-selection-list #allSelected formControlName="selectedColumns" multiple>
                            <mat-list-option *ngFor="let val of allColumns" [value]='val'>
                                {{val}}
                            </mat-list-option>
                        </mat-selection-list>
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <div class="heading">.</div>
                <mat-card style="height: 11.8rem; margin-left: 0.5rem;">
                    <mat-card-content>
                        <h4>Pickup Date</h4>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field appearance="fill" style="width: 12rem;">
                                <mat-label>From date</mat-label>
                                <input matInput [matDatepicker]="picker" autocomplete="off" formControlName="pickupFromDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="fill" style="width: 12rem;margin-left:0.5rem;">
                                <mat-label>To date</mat-label>
                                <input matInput [matDatepicker]="picker1" autocomplete="off" formControlName="pickupTodate">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <h4>Received Date</h4>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field appearance="fill" style="width: 12rem;">
                                <mat-label>From date</mat-label>
                                <input matInput [matDatepicker]="picker2" autocomplete="off" formControlName="receivedFromdate">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="fill" style="width: 12rem;margin-left:0.5rem;">
                                <mat-label>To date</mat-label>
                                <input matInput [matDatepicker]="picker3" autocomplete="off" formControlName="receivedTodate">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxLayout="column" fxLayoutAlign="space-between start">
                <div style="margin: 0.5rem 0rem;">
                    <div class="heading">Supplier Group</div>
                    <mat-card style="height: 4rem; width: 13rem; overflow: auto;">
                        <mat-card-content>
                            <mat-checkbox (change)="supplyGroup($event.checked)">Select Supplier Group</mat-checkbox>
                            <mat-selection-list #allSupplyGroup formControlName="selectedSupplierGroup" multiple>
                                <mat-list-option *ngFor="let val of supplyList" [value]='val.setting_value'>
                                    {{val.setting_value}}
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div>
                   <div class="heading"> Farm</div>
                    <mat-card style="height: 9rem; width: 13rem; overflow: auto;">
                        <mat-card-content>
                            <mat-checkbox (change)="formGroup($event.checked)">Select All Farm</mat-checkbox>
                            <mat-selection-list #farmList formControlName="selectedFarms" multiple>
                                <mat-list-option *ngFor="let val of farms" [value]='val.setting_value'>
                                    {{val.setting_value}}
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="space-between start" style="margin-left: 0.5rem;">
                <div style="margin: 0.5rem 0rem;">
                   <div class="heading"> Supllier Type</div>
                    <mat-card style="height: 4rem; width: 13rem; overflow: auto;">
                        <mat-card-content>
                            <mat-checkbox (change)="SupplierTypeGroup($event.checked)">Select All Supplier Tytpe
                            </mat-checkbox>
                            <mat-selection-list #supplierType formControlName="selectedSupplierType" multiple>
                                <mat-list-option *ngFor="let val of supplyTypes" [value]='val.setting_value'>
                                    {{val.setting_value}}
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div>
                    <div class="heading">Carriers</div>
                    <mat-card style="height: 9rem; width: 13rem; overflow: auto;">
                        <mat-card-content>
                            <mat-checkbox (change)="carrierTypeGroup($event.checked)">Select All Carrier
                            </mat-checkbox>
                            <mat-selection-list #carrierType formControlName="selectedCarrier" multiple>
                                <mat-list-option *ngFor="let val of carrier" [value]='val.setting_value'>
                                    {{val.setting_value}}
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div style="margin-left: 0.5rem;">
                <div style="margin: 0.5rem 0rem;">
                   <div class="heading"> Items</div>
                    <mat-card style="height: 16.8rem; width: 13rem; overflow: auto;">
                        <mat-card-content>
                            <mat-checkbox (change)="itemTypeGroup($event.checked)">Select All Items</mat-checkbox>
                            <mat-selection-list #itemsType formControlName="selectedItems" multiple>
                                <mat-list-option *ngFor="let val of items" [value]='val.setting_value'>
                                    {{val.setting_value}}
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <div style="float: right; margin-top:0.5rem;">
            <button mat-raised-button color="primary" style="margin-right: 1rem;" (click)="onsubmit()">Ok</button>
            <button mat-raised-button color="warn" (click)="closedDialog()">Cancel</button>
        </div>
    </form>
</div>
