h4{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    font-size: 11px;
    font-weight: 500;
    display: block;
    height: 22px;
}

.mat-checkbox {
    font-size: 11px !important;
    font-weight: 500 !important;
}
.heading{
    font-size: 11px;
    font-weight: 500;
}

.mat-list-base {
    padding-top: 0px !important;
    display: block;
}
.mat-card{
    background: #eef2f4 !important;
}