<div>
    <h4>First Form</h4>
    <form [formGroup]="formData">
        <div fxLayout="row">
            <mat-form-field appearance="outline" >
                <mat-label>Farm Number</mat-label>
                <input matInput placeholder="farm number" autocomplete="off" required formControlName="inputValue">
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-left: 0.5rem;">
                <mat-label>Farm</mat-label>
                <mat-select formControlName="farm" required>
                  <mat-option *ngFor="let farm of farms" [value]="farm.value">
                    {{farm.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="default" (click)="onSubmit()" [disabled]="formData.invalid">Submit</button>
        </div>
    </form>
</div>