<div>
  <div fxLayout fxLayoutAlign="space-between center">
    <mat-icon style="cursor: pointer; color: #767e7b" (click)="closeDialog()"
      >cancel</mat-icon
    >
  </div>
  <div fxLayout="column" fxLayoutAlign="center start">
    <form [formGroup]="formdata">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <span class="header">User Data</span>
          <div class="divheight2">
            <mat-form-field appearance="legacy">
              <mat-label>UserName</mat-label>
              <input
                matInput
                placeholder="Username"
                autocomplete="off"
                formControlName="username"
              />
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Email"
                autocomplete="off"
                type="email"
                formControlName="email"
              />
            </mat-form-field>

            <mat-form-field appearance="legacy">
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="Password"
                autocomplete="off"
                type="password"
                formControlName="password"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field
              appearance="fill"
              style="width: 7rem; margin-right: 1rem"
              ><mat-label>Admin Account</mat-label>
              <mat-select [multiple]="false" formControlName="admin">
                <mat-option *ngFor="let val of adminArray" [value]="val">
                  {{ val }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div
        style="margin-top: 1rem"
        fxLayout
        fxLayoutAlign="space-between center"
      >
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
