<div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <p>Setting Table update</p>
        <button mat-mini-fab color="default" style="margin-bottom: 1rem;" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center">
        <form [formGroup]="settingFormData" (submit)="onsubmit()">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Value</mat-label>
                    <input matInput placeholder="Enter Value" autocomplete="off" formControlName="setting_value">
                </mat-form-field>
         
                <mat-form-field appearance="outline" *ngIf="this.data[0] == 'Farm'" style="margin-left: 0.5rem;">
                    <mat-label>Please select supplier group</mat-label>
                    <mat-select formControlName='header_id'>
                       <mat-option *ngFor="let val of SupplierGroup" [value]='val.setting_id'>
                          {{val.setting_value}}
                       </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="default" [disabled]="settingFormData.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>