<app-header></app-header>
<div *ngIf="adminUser" class="maindiv">
  <div class="add-button">
    <button mat-raised-button color="default" (click)="register()">
      Add User
    </button>
  </div>
  <br />
  <table mat-table [dataSource]="dataSource" matSort class="user-list">
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="deleteAccount(element.email)" style="color: #c31c1c"
          >delete</mat-icon
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let element">
        {{ element.username }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>
    <ng-container matColumnDef="admin_account">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin Account</th>
      <td mat-cell *matCellDef="let element">
        {{ element.admin_account }}
      </td>
    </ng-container>
    <ng-container matColumnDef="toggle_admin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Toggle Admin</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.admin_account === 'Y'">
          <button
            class="mat-raised-button"
            (click)="removeAdmin(element.email)"
          >
            Remove Admin
          </button>
        </div>
        <div *ngIf="element.admin_account != 'Y'">
          <button class="mat-raised-button" (click)="makeAdmin(element.email)">
            Make Admin
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div *ngIf="!adminUser">Only Admins Can View This</div>
