<app-header></app-header>
<div class="maindiv">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout="row wrap">
    <button mat-stroked-button color="primary" (click)="openDialog()">
      Create New
    </button>

    <mat-form-field appearance="legacy">
      <mat-label>Search By Farm</mat-label>
      <mat-select (selectionChange)="filterByFarm($event.value)">
        <mat-option *ngFor="let val of farmsList" [value]="val.setting_value">
          {{ val.setting_value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="filter-list">
      <div *ngFor="let val of farmFilterList" class="filter-item">
        <div class="filter-value">
          {{ val }}
        </div>
        <span class="close" (click)="removeFarmFilter(val)">x</span>
      </div>
    </div>
    <mat-form-field appearance="legacy">
      <mat-label>Search By Supplier</mat-label>
      <mat-select (selectionChange)="filterBySupplier($event.value)">
        <mat-option
          *ngFor="let val of supplierList"
          [value]="val.setting_value"
        >
          {{ val.setting_value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="filter-list">
      <div *ngFor="let val of supplierFilterList" class="filter-item">
        <div class="filter-value">
          {{ val }}
        </div>
        <span class="close" (click)="removeSupplierFilter(val)">x</span>
      </div>
    </div>

    <button mat-stroked-button color="primary" (click)="openWeightCalculator()">
      Weight Calculator
    </button>
    <mat-icon (click)="Reset()" style="font-size: 25px">sync</mat-icon>

    <mat-form-field appearance="standard" style="width: 18rem">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter()"
        [(ngModel)]="search_word"
        placeholder="Search here"
        autocomplete="off"
        #input
      />
    </mat-form-field>
  </div>
  <!-- class="mat-elevation-z8" -->
  <div style="overflow: auto; max-height: 80%">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="editData(element)" style="color: rgb(53 111 153)"
            >edit</mat-icon
          >
        </td>
      </ng-container>
      <div *ngIf="adminUser">
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              (click)="delete(element.transaction_id)"
              style="color: #c31c1c"
              >delete</mat-icon
            >
          </td>
        </ng-container>
      </div>

      <ng-container matColumnDef="Supplier_Group">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Supplier Group.
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Supplier_Group }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Farm">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Farm</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Farm }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Newburg_Egg_PO">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Newburg Egg PO
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Newburg_Egg_PO }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Final_PO">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Final PO</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Final_PO }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Type_Supplies">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type Supplies</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Type_Supplies }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Pick_Up_Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pick Up Date</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Pick_Up_Date | date: "shortDate" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Farm_Order">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Farm Order</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Farm_Order }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Qty 1">
        <th mat-header-cell *matHeaderCellDef>Qty 1</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element["Qty 1"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Item 1">
        <th mat-header-cell *matHeaderCellDef>Item 1</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element["Item 1"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Qty 2">
        <th mat-header-cell *matHeaderCellDef>Qty 2</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element["Qty 2"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Item 2">
        <th mat-header-cell *matHeaderCellDef>Item 2</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element["Item 2"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Qty 3">
        <th mat-header-cell *matHeaderCellDef>Qty 3</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element["Qty 3"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Item 3">
        <th mat-header-cell *matHeaderCellDef>Item 3</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element["Item 3"] }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Carrier">
        <th mat-header-cell *matHeaderCellDef>Carrier</th>
        <td
          mat-cell
          (dblclick)="editInvoice(element)"
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Carrier }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Received_Date">
        <th mat-header-cell *matHeaderCellDef>Received Date</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Received_Date | date: "shortDate" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Received_Complete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Received Complete
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Received_Complete }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Notes">
        <th mat-header-cell *matHeaderCellDef>Notes</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Notes }}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="Free_Form_Notes">
        <th mat-header-cell *matHeaderCellDef>Free Form Notes</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.free_form_notes }}
        </td>
      </ng-container> -->

      <ng-container matColumnDef="Count_Of_Damaged_Pallets">
        <th mat-header-cell *matHeaderCellDef>Count Of Damaged Pallets</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Count_Of_Damaged_Pallets }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Count_Of_Totes">
        <th mat-header-cell *matHeaderCellDef>Count Of Totes</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Count_Of_Totes }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Shipment_Schedule">
        <th mat-header-cell *matHeaderCellDef>Shipment Schedule</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Shipment_Schedule }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Invoice_Number">
        <th mat-header-cell *matHeaderCellDef>Invoice Number</th>
        <td
          mat-cell
          (dblclick)="editInvoice(element)"
          *matCellDef="let element"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          {{ element.Invoice_Number }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Invoice_Amount">
        <th mat-header-cell *matHeaderCellDef>Invoice Amount</th>
        <td
          mat-cell
          *matCellDef="let element"
          (dblclick)="editInvoice(element)"
          [style.background-color]="
            element.Received_Complete == 'Y'
              ? '#d1e9d1'
              : element.Received_Complete == 'No'
              ? '#f25959'
              : ''
          "
        >
          <!-- <div (dblclick)="editInvoice(element)"> -->
          {{ element.Invoice_Amount }}
          <!-- </div> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div style="border: 1px solid lightgray">
    <mat-paginator
      [pageSizeOptions]="[10, 20, 50, 100, 500]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
