<div>
  <div fxLayout fxLayoutAlign="space-between center">
    <mat-icon style="cursor: pointer; color: #767e7b" (click)="closeDialog()"
      >cancel</mat-icon
    >
  </div>
  <div fxLayout="column" fxLayoutAlign="center start">
    <form [formGroup]="formdata">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <span class="header">Po Type Data</span>
          <div class="divheight2">
            <mat-form-field
              appearance="fill"
              style="width: 7rem; margin-right: 1rem"
              ><mat-label>Supplier Name</mat-label>
              <mat-select [multiple]="false" formControlName="supplier_name">
                <mat-option *ngFor="let val of supplierArray" [value]="val">
                  {{ val }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              style="width: 7rem; margin-right: 1rem"
              ><mat-label>Farm Name</mat-label>
              <mat-select [multiple]="false" formControlName="farm_name">
                <mat-option *ngFor="let val of farmArray" [value]="val">
                  {{ val }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              style="width: 7rem; margin-right: 1rem"
              ><mat-label>PO Type</mat-label>
              <mat-select [multiple]="false" formControlName="po_type">
                <mat-option *ngFor="let val of poTypeArray" [value]="val">
                  {{ val }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="legacy">
              <mat-label>Minimum PO</mat-label>
              <input
                matInput
                placeholder="Minimum PO"
                autocomplete="off"
                formControlName="minimum_po"
              />
            </mat-form-field>

            <mat-form-field appearance="legacy">
              <mat-label>Maximum PO</mat-label>
              <input
                matInput
                placeholder="Maximum PO"
                autocomplete="off"
                formControlName="maximum_po"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div
        style="margin-top: 1rem"
        fxLayout
        fxLayoutAlign="space-between center"
      >
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
