<div>
  <div fxLayout fxLayoutAlign="space-between center">
    <h3>Please fill details of Inovice.</h3>
    <!-- <button mat-mini-fab color="default" (click)="closeDialog()" style="margin-top: -3rem; float:right;">
            <mat-icon>clear</mat-icon>
        </button> -->
    <mat-icon style="cursor: pointer; color: #767e7b" (click)="closeDialog()"
      >cancel</mat-icon
    >
  </div>
  <div fxLayout="column" fxLayoutAlign="center start">
    <form [formGroup]="formdata">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Invoice Number</mat-label>
            <input
              matInput
              placeholder="Invoice Number"
              autocomplete="off"
              formControlName="Invoice_Number"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Invoice Amount</mat-label>
            <input
              matInput
              placeholder="Invoice Amount"
              autocomplete="off"
              formControlName="Invoice_Amount"
            />
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            style="width: 11rem; margin-right: 1rem"
          >
            <mat-label>Carrier</mat-label>
            <mat-select formControlName="Carrier">
              <mat-option
                *ngFor="let val of carrerArray"
                [value]="val.setting_value"
              >
                {{ val.setting_value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div
        style="margin-top: 1rem"
        fxLayout
        fxLayoutAlign="space-between center"
      >
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
