<app-header></app-header>
<div *ngIf="adminUser" class="maindiv">
  <div class="add-button">
    <button mat-raised-button color="default" (click)="newPoType()">
      Add Po Type
    </button>
  </div>
  <br />
  <table mat-table [dataSource]="dataSource" matSort class="potype-list">
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="editPoType(element)" style="color: rgb(53 111 153)"
          >edit</mat-icon
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          (click)="deletePoType(element.farm_id, element.supplier_id)"
          style="color: #c31c1c"
          >delete</mat-icon
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="supplier_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.supplier_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="farm_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Farm Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Farm_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="minimum_po">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Minimum PO</th>
      <td mat-cell *matCellDef="let element">
        {{ element.minimum_po }}
      </td>
    </ng-container>
    <ng-container matColumnDef="maximum_po">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Maximum PO</th>
      <td mat-cell *matCellDef="let element">
        {{ element.maximum_po }}
      </td>
    </ng-container>
    <ng-container matColumnDef="po_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Type</th>
      <td mat-cell *matCellDef="let element">
        {{ replaceUnderscore(element.po_type) }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div style="border: 1px solid lightgray">
    <mat-paginator
      [pageSizeOptions]="[10, 20, 50, 100, 500]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
<div *ngIf="!adminUser">Only Admins Can View This</div>
